<h1>アップロード</h1>

<%= form_with(model: @attachment, local: true) do |form| %>
  <% if @attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= @attachment.errors.count %>件のエラーにより処理を続行できませんでした:</h2>

      <ul>
      <% @attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'ファイル' %>
    <%= form.file_field :data_file, id: :attachment_data_file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'キャンセルして戻る', attachments_path %>
