<%= form_with(model: chapter, local: true) do |form| %>
  <% if chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= chapter.errors.count %>件のエラーにより処理を続行できませんでした:</h2>

      <ul>
      <% chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :chapter_title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :chapter_author %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :chapter_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
